@page "/"

<div class="TasksListPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">
  
  <TasksGroupsTreeManager class="TasksListPage-TasksGroupsThreeManager" /> 
  
  <div class="TasksListPage-TasksManager"></div>
  
  <div class="TasksListPage-TaskEditor"></div>
  
</div>
