@page "/"

<div class="TasksListPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">
  
  <TasksGroupsTreeManager AdditionalCSS_Classes=@({ "TasksListPage-TasksManager" }) /> 
  
  <div class="TasksListPage-TasksManager"></div>
  
  <div class="TasksListPage-TaskEditor"></div>
  
</div>
