@page "/"

<div class="TasksListPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">
  
  <TasksGroupsTreeManager SpaceSeparatedAdditionalCSS_Classes="TasksListPage-TasksManager" /> 
  
  <TasksManager SpaceSeparatedAdditionalCSS_Classes="TasksListPage-TasksManager" />
  
  <div class="TasksListPage-TaskEditor"></div>
  
</div>
