extends ../../../Layouts/Main/MainLayout.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "トド一覧 ｜ やまとダイワ几帳面さ";

    styleSheetsURIs = [ "@All" ];


block append Requirements

  include ../../../Components/Components.pug


block append SpecificContent

  .TasksListPage-SpecificContent.MainLayout-DynamicContentFillingChildenElement

    +TasksGroupsTreeManager.TasksListPage-TasksGroupsThreeManager

    +TasksManager.TasksListPage-TasksManager

    +TaskEditor.TasksListPage-TaskEditor

