@page "/"


@using Client.Components.SharedReusable.Managers.TasksGroupsTree
@using Client.Components.SharedReusable.Managers.Tasks


<div class="TasksManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">

	<TasksGroupsTreeManager spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksGroupsThreeManager" />

  <TasksManager spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksManager" />
  
	<TaskManager 
		spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TaskManager"
		activationGuidance=@taskManagerActivationGuidance
		targetTask="@activeTask"
	/>

</div>
