.TasksManagementPage

  MAXIMAL_CONTENT_WIDTH = 920px
  MINIMAL_SIDE_SYMMETRIC_PADDINGS__WIDE_SCREENS = 20px

  wideScreensConfigurationMinimalWidth = MAXIMAL_CONTENT_WIDTH + 2*MINIMAL_SIDE_SYMMETRIC_PADDINGS__WIDE_SCREENS
  MEDIUM_SCREENS_CONFIGURATION_MINIMAL_WIDTH = 420px


  WideScreensConfiguration()
    @media (min-width: wideScreensConfigurationMinimalWidth)
      {block}

  MediumScreensConfiguration()
    @media (min-width: MEDIUM_SCREENS_CONFIGURATION_MINIMAL_WIDTH) and (max-width: wideScreensConfigurationMinimalWidth - 1)
      {block}

  NarrowScreensConfiguration()
    @media (max-width: MEDIUM_SCREENS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}

  WideAndMediumScreensConfiguration()
    @media (min-width: MEDIUM_SCREENS_CONFIGURATION_MINIMAL_WIDTH)
      {block}

  MediumAndNarrowScreensConfiguration()
    @media (max-width: wideScreensConfigurationMinimalWidth - 1)
      {block}


  &-SpecificContent

    display flex
    border-color: ShadesOfGray__39ColorsW3C_Palette[24]


  &-TasksGroupsThreeManager

    min-width 200px
    padding 4px 12px

    resize horizontal
    overflow auto


    +NarrowScreensConfiguration()

      display none


  &-TasksManager

    border-left-width 1px
    padding 6px 8px

    border-style solid
    border-color: ShadesOfGray__39ColorsW3C_Palette[24]

    flex-grow 1


  &-TaskManager

    min-width NARROWEST_SCREEN_WIDTH_UNIT
    max-width 2*NARROWEST_SCREEN_WIDTH_UNIT    
    border-left-width 1px
    padding 6px 8px

    border-style solid
    border-color: ShadesOfGray__39ColorsW3C_Palette[24]

    flex 0 0 auto


    +MediumAndNarrowScreensConfiguration()

      display none
