@page "/"

<div class="TasksManagementPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">

	<TasksGroupsTreeManager spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksGroupsThreeManager" />

  <TasksManager spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksManager" />
  
	<TaskManager 
		spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TaskManager"
		activationGuidance=@activationGuidance
		targetTask="@activeTask"
	/>

</div>
