@page "/"

<div class="TasksManagementPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">

	<TasksGroupsTreeManager SpaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksGroupsThreeManager" />

  <TasksManager SpaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksManager" />
  
	<TaskManager 
		SpaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TaskManager"
		activationGuidance=@activationGuidance
		targetTask="@activeTask"
	/>

</div>
