@page "/PeopleManagement"


<div class="PeopleManagementPage-SpecificContent MainLayout-DynamicContentFillingChildrenElement">
  
  <PeopleManager spaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PeopleManager" />
  
  <PersonManager spaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PersonManager"/>
  
</div>