extends ../../../Layouts/Main/MainLayout.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "人管理 ｜ やまとダイワ几帳面さ";

    styleSheetsURIs = [ "@All" ];


block append Requirements

  include ../../../Components/Components.pug


block append SpecificContent

  .PeopleManagementPage-SpecificContent.MainLayout-DynamicContentFillingChildrenElement

    +PeopleManager({
      loading: PeopleManagementPageStatesSimulations.loading,
      error: PeopleManagementPageStatesSimulations.error,
      noItems: PeopleManagementPageStatesSimulations.noItems,
      noSearchResults: PeopleManagementPageStatesSimulations.noSearchResults
    }).PeopleManagementPage-PeopleManager

    //- targetPerson: DummyData.people[0]
    +PersonManager(
      {
        targetPerson: DummyData.people[0],
        activationGuidance: "人の詳細を閲覧する事や編集するにはカードをクリック・タップして下さい。"
      },
      { editingMode: true }
    ).PeopleManagementPage-PersonManager

    //-
      +ModalDialog({
        title: "人を編集"
      })