.PeopleManagementPage

  &-SpecificContent

    display grid
    grid-template-columns minmax(0, 1fr) NARROWEST_SCREEN_WIDTH_UNIT

    background: TemporaryHighlighting.purple.o10


  &-PeopleManager

    padding 8px


  &-PersonManager

    padding 8px
