mixin TaskCard-LoadingPlaceholder

  .TaskCard&attributes(attributes)

    .TaskCard-Checkbox.TaskCard-Checkbox__LoadingPlaceholder

    .TaskCard-Title.TaskCard-Title__LoadingPlaceholder

    .TaskCard-BadgesFlow

    .TaskCard-Description.TaskCard-Description__LoadingPlaceholder
