extends ../../../Layouts/Main/MainLayout.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "Inbox items";

    styleSheetsURIs = [ "@All" ];


block append Requirements

  include ../../../Components/Components.pug


block append SpecificContent

  .CardsFlow

    each emptyArrayElement in new Array(10)

      .InboxItemCard.InboxItemCard__TextInput

        .InboxItemCard-Title 第一項目

        .InboxItemCard-DateTimeLabel= new Date().toLocaleString()

        p.InboxItemCard-Description.
          私は場合どうもそんな意見式によってののためをしたくない。けっして前を専攻通りはせっかくどんな自失ありたまでにありでいないには観念困らましつて、
          それほどには繰り返したらたなけれう。
