.PersonManager

  &-Heading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 24px,
      lineSpacing: 4px
    })
    
    
  &-Guidance

    margin-top 12px
  

  &-ActionBar

    display flex
    justify-content flex-end
    column-gap 8px

    retireFrom({ definitions: (".PersonManager-Heading" { y: 8px }) (".PersonManager-Guidance" { y: 6px }) })


  &-Metadata
  
    display grid
    grid-template-columns auto minmax(0, 1fr)
    gap 12px 6px

    margin-top 12px
    
    
    dt

      text-align right
      font-weight bold
      

  &-Form

    margin-top 12px


  &-Control

    retireFromElementWithSameSelector({ y: 8px })
    pushTargetFromSelf({ targetElementSelector: ".PersonManager-ActionBar", y: 8px })
