-


  const routingForStaticPreview = {

    calendar: {
      $URI: "@Pages/Calendar/CalendarPage"
    },

    tasksManagement: {
      $URI: "@Pages/Task/Management/TasksManagementPage"
    },

    peopleManagement: {
      $URI: "@Pages/Person/Management/PeopleManagementPage"
    }

  };

  RoutingEmulator.initialize(routingForStaticPreview);
