<span class="Badge--YDF @rootElementModifierCSS_Classes @SpaceSeparatedAdditionalCSS_Classes">
  
  @* TODO アイコンスロットを確保する https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/25 *@
  
  @if (!String.IsNullOrEmpty(Key))
  {
    <span class="Badge--YDF-Key">@Key</span>  
  }
  
  <span class="Badge--YDF-Value">@Value</span>
  
</span>