<div class="TasksGroupsTreeManager @RootElementAdditionalCssClasses">
  
  <div class="TasksGroupsTreeManager-Title">自動生成群</div>
  
  <ul class="TasksGroupsTreeManager-List">
    
    <li class="TasksGroupsTreeManager-List-Item">
      <a href="#" class="TasksGroupsTreeManager-List-Item-LinkButton">
        <SVG_Icons.Calendar.CalendarIcon__Date class="TasksGroupsTreeManager-List-Item-Icon"/>
        <span class="TasksGroupsTreeManager-List-Item-Label">日付連想</span> 
      </a>
    </li>
    
    <li class="TasksGroupsTreeManager-List-Item">
      <a href="#" class="TasksGroupsTreeManager-List-Item-LinkButton">
        <SVG_Icons.Calendar.CalendarIcon__Time class="TasksGroupsTreeManager-List-Item-Icon" />
        <span class="TasksGroupsTreeManager-List-Item-Label">日付連想</span> 
      </a>
    </li>
    
  </ul>
  
</div>


@code {

  [Parameter]
  public string[] AdditionalCSS_Classes { get; set; }

  private string RootElementAdditionalCssClasses => String.Join(' ', AdditionalCSS_Classes);

}