<nav class="NavigationMenu">
  
  <ul>
    
    <li>
      
      <NavLink
        class="NavigationMenu-Link"
        href=""
        Match="NavLinkMatch.All"
      >
        <InboxIcon SpaceSeparatedAdditionalCSS_Classes="NavigationMenu-Link-Icon" />
        <span class="NavigationMenu-Link-Label">入件箱</span>
      </NavLink>
      
      <NavLink
        class="NavigationMenu-Link"
        href=""
        Match="NavLinkMatch.All"
      >
        <TimelineIcon SpaceSeparatedAdditionalCSS_Classes="NavigationMenu-Link-Icon" />
        <span class="NavigationMenu-Link-Label">時事流</span>
      </NavLink>
      
      <NavLink
        class="NavigationMenu-Link"
        href=""
        Match="NavLinkMatch.All"
      >
        <ChecklistIcon SpaceSeparatedAdditionalCSS_Classes="NavigationMenu-Link-Icon" /> 
        <span class="NavigationMenu-Link-Label">課題</span>
      </NavLink>
      
    </li>
    
  </ul>
  
</nav>