mixin NavigationMenu

  nav.NavigationMenu&attributes(attributes)

    ul

      li

        a.NavigationMenu-Link(
          href="#"
        )
          +Inbox--YDF_Icon.NavigationMenu-Link-Icon
          span.NavigationMenu-Link-Label 入件箱

      li
        a.NavigationMenu-Link(
          href="#"
        )
          +Timeline--YDF_Icon.NavigationMenu-Link-Icon
          span.NavigationMenu-Link-Label 時事流


      li
        a.NavigationMenu-Link(
          href="#"
        )
          +Checklist--YDF_Icon.NavigationMenu-Link-Icon
          span.NavigationMenu-Link-Label 課題
