include ../node_modules/@yamato-daiwa/frontend/Components.pug

include Reusables/Cards/Person/PersonCard.pug
include Reusables/Cards/Task/TaskCard.pug

include Reusables/Controls/RadioButton/RadioButton.pug
include Reusables/Controls/RadioButtonsGroup/RadioButtonsGroup.pug
include Reusables/Controls/SearchBox/SearchBox.pug

include Reusables/NavigationMenu/NavigationMenu.pug
  
include Reusables/Managers/Person/PersonManager.pug
include Reusables/Managers/Task/TaskManager.pug
include Reusables/Managers/Tasks/TasksManager.pug
include Reusables/Managers/TasksGroupsTree/TasksGroupsTreeManager.pug

include Reusables/Viewers/Calendar/Month/MonthViewer.pug
include Reusables/Viewers/People/PeopleViewer.pug

include Singletons/Header/Header.pug
