extends ../../../Layouts/Main/MainLayout.pug


block append Requirements

  include ../../../StaticPreview/_Requirements.pug

  -

    class PeopleManagementPage {

      static mustDisplayPersonManagerAtNarrowScreens = false;

      static displayPersonManagerAtNarrowScreens() {
        PeopleManagementPage.mustDisplayPersonManagerAtNarrowScreens = true;
        return PeopleManagementPage;
      }

    }
    

block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Tasks management — Experimental CSharp Application"
      },
      stylesSheetsURIs: ["@All/Primer", "@All/ExternalComponents", "@All/Internals"]
    });
    
    RoutingEmulator.setCurrentRoute("peopleManagement");


block append SpecificContent

  .PeopleManagementPage-SpecificContent.MainLayout-VerticallyFillingSpecificContentDescendant

    +PeopleViewer({
      loading: PeopleManagementPageStatesSimulations.loading,
      error: PeopleManagementPageStatesSimulations.error,
      noItems: PeopleManagementPageStatesSimulations.noItems,
      noSearchResults: PeopleManagementPageStatesSimulations.noSearchResults
    }).PeopleManagementPage-PeopleViewer

    +PersonManager(
      {
        targetPerson: getRandomArrayElement(DummyData.People),
        activationGuidance: "Click or tap the person card to view details or edit the dedicated person data."
      },
      { editingMode: true }
    ).PeopleManagementPage-PersonManager&attributes({
      class: PeopleManagementPage.mustDisplayPersonManagerAtNarrowScreens ? 
          [ "PeopleManagementPage-PersonManager__VisibleAtNarrowScreens" ] : 
          [ "PeopleManagementPage-PersonManager__HiddenAtNarrowScreens" ]
    })
