@page "/PeopleManagement"


@using Client.SharedComponents.Viewers.People
@using Client.SharedComponents.Managers.Person


<div class="PeopleManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">
  
  <PeopleViewer 
    spaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PeopleViewer"
    onClickPersonAddingButtonEventHandler=@onClickStartingOfNewPersonInputtingButton
  />
  
  <PersonManager
    rootElementModifierCSS_Class=@($"PeopleManagementPage-PersonManager { personManagerAdditionalCSS_Class }")
    activationGuidance=@localization.personManagerActivationGuidance
    targetPerson=@activePerson
    onInputtingDataOfNewPersonCompleteEventHandler=@onNewPersonInputtingCompleted
    onExistingPersonEditingCompleteEventHandler=@onExistingPersonEditingCompleted
    onDeletePersonEventHandler=@onDeletePerson
    @ref=@personManager
  />
  
</div>