@page "/PeopleManagement"


@using Client.SharedComponents.Reusables.Viewers.People
@using Client.SharedComponents.Reusables.Managers.Person


<div class="PeopleManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">
  
  <PeopleViewer spaceSeparatedAdditionalCSS_Classes="PeopleManagementPage-PeopleViewer" />
  
  <PersonManager 
    spaceSeparatedAdditionalCSS_Classes=@($"PeopleManagementPage-PersonManager { personManagerAdditionalCSS_Class }")
    activationGuidance=@personManagerActivationGuidance
    targetPerson=@activePerson
  />
  
</div>