extends ../../../Layouts/Main/MainLayout.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "人管理 ｜ やまとダイワ几帳面さ";

    styleSheetsURIs = [ "@All" ];


block append Requirements

  include ../../../Components/Components.pug


block append SpecificContent

  .PeopleManagementPage-SpecificContent.MainLayout-SpecificContentFillingElement

    +PeopleManager({
      loading: PeopleManagementPageStatesSimulations.loading,
      error: PeopleManagementPageStatesSimulations.error,
      noItems: PeopleManagementPageStatesSimulations.noItems,
      noSearchResults: PeopleManagementPageStatesSimulations.noSearchResults
    }).PeopleManagementPage-PeopleManager

    +PersonManager(
      {
        targetPerson: DummyData.People[0],
        activationGuidance: "人の詳細を閲覧する事や編集するにはカードをクリック・タップして下さい。"
      },
      { editingMode: true }
    ).PeopleManagementPage-PersonManager

    +ModalDialog--YDF(
      {
        title: "人を編集"
      },
      {
        mustDisplay: false
      }
    )

      +PersonManager(
        {
          targetPerson: DummyData.People[0],
          activationGuidance: "人の詳細を閲覧する事や編集するにはカードをクリック・タップして下さい。"
        },
        { editingMode: true }
      )
