mixin TasksViewer(statesSimulations)

  -
    /**
     * @type {object}
     * @property {boolean} loading
     * @property {boolean} error
     * @property {boolean} noItems
     * @property {boolean} noSearchResults
     */  
    statesSimulations = statesSimulations ?? {}
 
  .TasksViewer&attributes(attributes)
    //- 【 方法論 】 「container-type inline-size」の為、根要素を２つに別けざる得ない。
    .TasksViewer-VariableComposition
    
      +TasksGroupsTreeManager.TasksViewer-Sidebar
        
      .TasksViewer-TopActionBar
  
        +SearchBox--YDF({
          placeholder: "課題の見出しや記述で検索"
        }).TasksViewer-TopActionBar-SearchBox
  
        +Button--YDF.TasksViewer-TopActionBar-ButtonForWideContainers
          +Person__Plus--YDF_Icon.Button--YDF-SVG_Icon
          span.Button--YDF-Label 新規課題先追加
        
      if statesSimulations.loading
  
        .TasksViewer-CardsFlow
  
          each cardNumber in Array.from(new Array(12).keys())
  
            +TaskCardLoadingPlaceholder
  
      else if statesSimulations.error
  
        +AttentionBox--YDF({
          decoration: AttentionBox__YDF.DecorativeVariations.error,
          hasPrependedSVG_Icon: true
        }).TasksViewer-AttentionBox
  
          p 情報取得中不具合が発生しました。
  
          +Button--YDF({
            label: "再試験"
          }).AttentionBox--YDF-CenteredButton
  
      else if statesSimulations.noItems
  
        +AttentionBox--YDF({
          decoration: AttentionBox__YDF.DecorativeVariations.guidance,
          hasPrependedSVG_Icon: true
        }).TasksViewer-AttentionBox
  
          p 現在、課題が一件も登録させていません。
  
          +Button--YDF({
            label: "早速追加しましょう！",
            decoration: Button__YDF.DecorativeVariations.accented
          }).AttentionBox--YDF-CenteredButton
  
      else if statesSimulations.noSearchResults
  
        +AttentionBox--YDF({
          decoration: AttentionBox__YDF.DecorativeVariations.guidance,
          hasPrependedSVG_Icon: true
        }).TasksViewer-AttentionBox
  
          p 検索結果と合っている件はありません。
  
          +Button--YDF({
            label: "検索条件をリセット",
          }).AttentionBox--YDF-CenteredButton
  
      else
  
        ul.TasksViewer-CardsFlow
  
          each task in DummyData.Tasks
  
            +TaskCard({
              task,
              rootElementTag: "li"
            })
              
      .PeopleViewer-BottomActionBarForNarrowContainers
  
        +Button--YDF
          +Person__Plus--YDF_Icon.Button--YDF-SVG_Icon
          span.Button--YDF-Label 新規課題先追加
          
        +Button--YDF
          +Filtering__Outlined--YDF_Icon.Button--YDF-SVG_Icon
          span.Button--YDF-Label フィルタリング
