@using Task = CommonSolution.Entities.Task

@using Client.SharedState

@using Client.SharedComponents.Cards.Task.LoadingPlaceholder
@using Client.SharedComponents.Cards.Task

@using Client.SharedComponents.Controls.TasksFilteringPanel

@using FrontEndFramework.Components.AttentionBox
@using FrontEndFramework.Components.Controls.Buttons.Plain
@using FrontEndFramework.Components.Controls.SearchBox
@using FrontEndFramework.Components.ModalDialog;

@using FrontEndFramework.SVG_Icons.Person
@using FrontEndFramework.SVG_Icons.Filtering


<div class="TasksViewer @rootElementModifierCSS_Class">

  <div class="TasksViewer-VariableComposition">
    
    <TasksFilteringPanel rootElementModifierCSS_Class="TasksViewer-Sidebar"/>
    
    <div class="TasksViewer-TopActionBar">
      
      <SearchBox
        placeholder="課題の見出しや記述で検索"
        accessibilityGuidance="課題の見出しや記述で検索"
        mustSynchronizeDisplayingSearchRequestWith=@TasksSharedState.searchingByFullOrPartialTitleOrDescription
        onNewSearchRequest=@onNewTaskSearchingByFullOrPartialTitleOrDescriptionRequestHasBeenEmitted
        disabled=@mustDisableSearchBox
        spaceSeparatedAdditionalCSS_Classes="TasksViewer-TopActionBar-SearchBox"
      />
      
      <Button
        label="新規課題追加"
        onClick=@onClickTaskAddingButton
        spaceSeparatedAdditionalCSS_Classes="TasksViewer-TopActionBar-ButtonForWideContainers"
      >
        <PrependedSVG_Icon>
          <PersonIcon__Plus rootElementModifierCSS_Class="Button--YDF-SVG_Icon" />  
        </PrependedSVG_Icon>
      </Button>
      
    </div>
  
    @if (TasksSharedState.isTasksRetrievingInProgressOrNotStartedYet)
    {
      <div class="TasksViewer-CardsFlow">
        @for (uint cardNumber = 0; cardNumber < 12; cardNumber++)
        {
          <TaskCardLoadingPlaceholder/>  
        }
      </div> 
    }
    
    else if (TasksSharedState.hasTasksSelectionRetrievingErrorOccurred)
    {
      <AttentionBox
        decoration=@AttentionBox.StandardDecorativeVariations.error
        hasPrependedSVG_Icon
        rootElementModifierCSS_Class="TasksViewer-AttentionBox"
      >

        <p>情報取得中不具合が発生しました。</p>
        
        <Button
          label="再試験"
          onClick=@onClickTasksSelectionRetrievingRetryingButton
          spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-CenteredButton"
        />
        
      </AttentionBox>
    }
    
    else if (TasksSharedState.totalTasksCountInDataSource == 0)
    {
      <AttentionBox
        decoration=@AttentionBox.StandardDecorativeVariations.guidance
        hasPrependedSVG_Icon
        rootElementModifierCSS_Class="TasksViewer-AttentionBox"
      >

        <p>現在、課題が一件も登録させていません。</p>
        
        <Button
          label="早速登録しましょう"
          onClick=@onClickTaskAddingButton
          
          spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-CenteredButton"
        />
        
      </AttentionBox>
    }
    
    else if (TasksSharedState.totalTasksCountInSelection == 0)
    {
      <AttentionBox
        decoration=@AttentionBox.StandardDecorativeVariations.guidance
        hasPrependedSVG_Icon
        rootElementModifierCSS_Class="TasksViewer-AttentionBox"
      >

        <p>検索結果と合っている件はありません。</p>
        
        <Button
          label="検索条件をリセット"
          onClick=@onClickFilteringResettingButton
          spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-CenteredButton"
        />
        
      </AttentionBox>
    }

    else
    {
      <ul class="TasksViewer-CardsFlow">
        @foreach (Task task in TasksSharedState.tasksSelection)
        {
          <TaskCard
            targetTask=@task
            rootElementTag="li"
            onClickRootElementEventHandler=@onSelectTask
            onClickCheckboxEventHandler=@onToggleTaskCompletion
          />    
        }
      </ul> 
    }
    
    <div class="TasksViewer-BottomActionBarForNarrowContainers">
      
      <Button
        label="新規課題先追加"
        onClick=@onClickTaskAddingButton
      >
        <PrependedSVG_Icon>
          <PersonIcon__Plus rootElementModifierCSS_Class="Button--YDF-SVG_Icon" />  
        </PrependedSVG_Icon>
      </Button>

      <Button
        label="フィルタリング"
        onClick=@openTasksFilteringModalDialog
      >
        <PrependedSVG_Icon>
          <FilteringIcon__Outlined rootElementModifierCSS_Class="Button--YDF-SVG_Icon" />  
        </PrependedSVG_Icon>
      </Button>
      
    </div>
  
  </div>

</div>