mixin TaskEditor(properties, statesSimulations)

  -

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}

    const {

    } = properties

    const {
      readOnlyMode = false
    } = statesSimulations


  form.TaskEditor&attributes(attributes)

    +TextBox--YDF({
      label: "見出し",
      guidance: "〇〇～〇〇文字を入力して下さい。"
    }).TaskEditor-Control

    +TextBox--YDF({
      label: "詳細",
      guidance: "〇〇～〇〇文字を入力して下さい。",
      multiline: true
    }).TaskEditor-Control

    +Button--YDF({
      HTML_Type: Button__YDF.HTML_Types.inputSubmit,
      label: "送信"
    }).TaskEditor-Button

