@page "/"


@using Client.SharedComponents.Controls.TasksFilteringPanel;
@using Client.SharedComponents.Viewers.Tasks
@using Client.SharedComponents.Managers.Task

@using Microsoft.AspNetCore.Components.Sections
@using FrontEndFramework.Components.ModalDialog


<div class="TasksManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">

	<TasksViewer 
		rootElementModifierCSS_Class="TasksManagementPage-TasksViewer"
		onClickTaskAddingButtonEventHandler=@beginInputOfNewTaskData
	/>
  
	<TaskManager 
		rootElementModifierCSS_Class=@($"TasksManagementPage-TaskManager { taskManagerAdditionalCSS_Class }")
		activationGuidance=@taskManagerActivationGuidance
		targetTask=@activeTask
		onInputtingDataOfNewTaskComplete=@onNewTaskEditingCompleted
		onExistingTaskEditingComplete=@onExistingTaskEditingCompleted
		@ref=@taskManager
	/>
	
</div>

<SectionContent SectionName="FloatingAndFixedContent">
	
	<ModalDialog
		title="課題の絞り込み"
		onInitializedEventCallback=@onTasksFilteringModalDialogInitialized
	>
		<TasksFilteringPanel />
	</ModalDialog>
	
</SectionContent>