extends ../../../Layouts/Main/MainLayout.pug


block append Requirements

  include ../../../StaticPreview/_Requirements.pug
    

block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Tasks management — Experimental CSharp Application"
      },
      stylesSheetsURIs: [ "@All/Primer", "@All/ExternalComponents", "@All/Internals" ]
    });

    RoutingEmulator.setCurrentRoute("tasksManagement");


block StatesSimulations
  
  -
  
    class TasksManagementPage {
    
      static mustDisplayTaskManagerAtNarrowScreens = false;
    
      static displayTaskManagerAtNarrowScreens() {
        TasksManagementPage.mustDisplayTaskManagerAtNarrowScreens = true;
        return PeopleManagementPage;
      }
    
    }
    

block append SpecificContent

  -

    /**
     * @type { object }
     * @property { string } filteringModalDialog.title
     * @property { string } taskManagerActivationGuidance
     * */
    const $pageStringResources = $stringResources.$english.pages.task.management;

  
  .TasksManagementPage-ContainerQueryingComposition.MainLayout-VerticallyFillingSpecificContentDescendant

    +TasksViewer({
      loading: TasksManagementPageStatesSimulations.loading,
      error: TasksManagementPageStatesSimulations.error,
      noItems: TasksManagementPageStatesSimulations.noItems,
      noSearchResults: TasksManagementPageStatesSimulations.noSearchResults
    }).TasksManagementPage-TasksViewer
    
    +TaskManager(
      {
        targetTask: getRandomArrayElement(DummyData.Tasks),
        activationGuidance: $pageStringResources.taskManagerActivationGuidance
      },
      { editingMode: true }
    ).TasksManagementPage-TaskManager&attributes({
      class: TasksManagementPage.mustDisplayTaskManagerAtNarrowScreens ?
          [ "TasksManagementPage-TaskManager__VisibleAtNarrowScreens" ] : 
          [ "TasksManagementPage-TaskManager__HiddenAtNarrowScreens" ]
    })

    
block FloatingAndFixedContent

  //- 
    [ Theory ] Because of container queries brakes the fixed positioning, the modal dialog could not be placed inside 
      the "SpecificContent" block.
      https://stackoverflow.com/a/52937920/4818123
     
  +ModalDialog--YDF(
    { title: $pageStringResources.filteringModalDialog.title },
    { mustDisplay: false }
  ): +TasksFilteringPanel
