@page "/"


@using Client.SharedComponents.Viewers.Tasks
@using Client.SharedComponents.Managers.Task


<div class="TasksManagementPage-SpecificContent MainLayout-SpecificContentFillingElement">

	<TasksViewer spaceSeparatedAdditionalCSS_Classes="TasksManagementPage-TasksViewer" />
  
	<TaskManager 
		rootElementModifierCSS_Class=@($"TasksManagementPage-TaskManager { taskManagerAdditionalCSS_Class }")
		activationGuidance=@taskManagerActivationGuidance
		targetTask="@activeTask"
	/>

</div>