.TasksManagementPage

  WIDE_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH = 1000px
  MEDIUM_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH = 400px

  WideContainersConfiguration()
    @media container and (min-width: WIDE_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH)
      {block}

  MediumContainersConfiguration()
    @media container and (min-width: MEDIUM_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH) and (max-width: WIDE_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}

  NarrowContainersConfiguration()
    @media container and (max-width: MEDIUM_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}

  WideAndMediumContainersConfiguration()
    @media container and (min-width: MEDIUM_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH)
      {block}

  MediumAndNarrowContainersConfiguration()
    @media container and (max-width: MEDIUM_CONTAINERS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}


  &-SpecificContent

    display flex
    
    
    +MediumAndNarrowContainersConfiguration

      position relative


  &-TasksGroupsThreeManager

    min-width 160px
    max-width 200px
    padding 4px 12px

    resize horizontal
    overflow auto


    +NarrowContainersConfiguration()

      display none


  &-TasksManager

    border-left-width 1px
    padding 6px 8px

    border-style solid
    border-color: ShadesOfGray__39ColorsW3C_Palette[24]

    flex-grow 1


  &-TaskManager

    min-width NARROWEST_SCREEN_WIDTH_UNIT
    max-width 2*NARROWEST_SCREEN_WIDTH_UNIT    
    border-left-width 1px
    padding 6px 8px

    border-style solid
    border-color: ShadesOfGray__39ColorsW3C_Palette[24]

    flex 0 0 auto


    +MediumAndNarrowContainersConfiguration()

      display none
