<div class="CompoundControlShell @spaceSeparatedAdditionalCSS_Classes">
  
  <div class="CompoundControlShell-Header">
    
  </div>
  
  <div class="CompoundControlShell-MainSlotCustomizableWrapper @MainSlotSpaceSeparatedAdditionalCSS_Classes">
    
    @ChildContent
    
  </div>
  
</div>