@if (isButtonTheTagNameOfRootElement)
{
  
  <button
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
  >
    
  </button>
  
} else if (isInputTheTagNameOfRootElement)
{
  
  <input
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
  >
  
} else if (isAnchorTheTagNameOfRootElement)
{
  <a
    href="#"
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
  >
    
  </a>
}
