extends ../../Layouts/Main/MainLayout.pug


block Data

  -
    
    const tabsData = {
      
      monthOverview: {
        tabHTML_ID: "MONTH_OVERVIEW--TAB",
        panelHTML_ID: "MONTH_OVERVIEW--TAB_PANEL",
        isInitiallySelected: true,
        label: "Month"
      },
      weekOverview: {
        tabHTML_ID: "WEEK_OVERVIEW--TAB",
        panelHTML_ID: "WEEK_OVERVIEW--TAB_PANEL",
        isInitiallySelected: false,
        label: "Week"
      },
      dayOverview: {
        tabHTML_ID: "DAY_OVERVIEW--TAB",
        panelHTML_ID: "DAY_OVERVIEW--TAB_PANEL",
        isInitiallySelected: false,
        label: "Day"
      }
      
    };

  
block append Requirements

  include ../../StaticPreview/_Requirements.pug
    

block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "People Management — Experimental CSharp Application";

    styleSheetsURIs = [ "@All/Primer", "@All/ExternalComponents", "@All/Internals" ];

    RoutingEmulator.setCurrentRoute("calendar");


block append SpecificContent

  .CalendarPage-SpecificContent.MainLayout-SpecificContentFillingElement
    
    +TabsList--YDF({ accessibilityGuidance: "Select View" }).CalendarPage-TabsList
      +Tab--YDF(tabsData.monthOverview)
      +Tab--YDF(tabsData.weekOverview)
      +Tab--YDF(tabsData.dayOverview)
      
    +TabPanel--YDF(tabsData.monthOverview).CalendarPage-TabPanel

      +MonthViewer.CalendarPage-MonthViewer
    //- === TODO =======================================================================================================
    +TabPanel--YDF(tabsData.weekOverview)
    
      //-
        
      
    +TabPanel--YDF(tabsData.dayOverview)

      //-
        h1.CalendarPage-SpecificContent 日付閲覧
        h2.CalendarPage-SpecificContent 時間連想課題
                
        h2.CalendarPage-SpecificContent 時間に結び付ていない課題
      
      //- ul.CalendarPage-SpecificContent
