.CalendarPage
  
  &-SpecificContent

    display flex
    flex-direction column
    

  &-TabsList
  
    flex-shrink 0

    
  &-TabPanel
  
    flex-grow 1

    
  &-MonthViewer

    width 100%
    height 100%
