@using CommonSolution.Entities


<div class="PeopleManager @spaceSeparatedAdditionalCSS_Classes">

  @if (isPeopleSelectionRetrievingInProgressOrHasNotStartedYet)
  {
    <div class="PeopleManager-CardsFlow">
      @for (uint cardNumber = 0; cardNumber < 12; cardNumber++)
      {
        <PersonCardLoadingPlaceholder/>
      }
    </div>  
  }
  
  else if (isPeopleSelectionRetrievingErrorOccurred)
  {
    <div>エラー</div>  
  }
  
  else if (people.Length == 0)
  {
    <div>無し</div>
  }
  
  else
    {
      <ul class="PeopleManager-CardsFlow">
        @foreach (Person person in people)
        {
          <PersonCard 
            TargetPerson=@person
            RootElementTag="li"
          />
        }
      </ul>
    }
  
</div>
