mixin TasksManager(properties, statesSimulations)

  -

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}

    const {

    } = properties

    const {

    } = statesSimulations


  ul.TasksManager&attributes(attributes)

    each cardNumber in Array.from(new Array(12).keys())

      +TaskCard({
        task: {
          title: getRandomString({ minimalCharactersCount: 2, maximalCharactersCount: 25 }),
          description: getRandomString({ minimalCharactersCount: 10, maximalCharactersCount: 255 })
        },
        rootElementTag: "li"
      })
