@using FrontEndFramework.SVG_Icons.Lists


<div class="TasksGroupsTreeManager @spaceSeparatedAdditionalCSS_Classes">
  
  <div class="TasksGroupsTreeManager-Title">自動生成群</div>
  
  <ul class="TasksGroupsTreeManager-List">
    
    <li class="TasksGroupsTreeManager-List-Item">
      <a href="#" class="TasksGroupsTreeManager-List-Item-LinkButton TasksGroupsTreeManager-List-Item-LinkButton__Selected">
        <ChecklistIcon rootElementModifierCSS_Class="TasksGroupsTreeManager-List-Item-Icon"/>
        <span class="TasksGroupsTreeManager-List-Item-Label">全課題</span> 
      </a>
    </li>
    
    @* <li class="TasksGroupsTreeManager-List-Item"> *@
    @*   <a href="#" class="TasksGroupsTreeManager-List-Item-LinkButton"> *@
    @*     <CalendarIcon__Date spaceSeparatedAdditionalCSS_Classes="TasksGroupsTreeManager-List-Item-Icon"/> *@
    @*     <span class="TasksGroupsTreeManager-List-Item-Label">日付連想</span>  *@
    @*   </a> *@
    @* </li> *@
    @* *@
    @* <li class="TasksGroupsTreeManager-List-Item"> *@
    @*   <a href="#" class="TasksGroupsTreeManager-List-Item-LinkButton"> *@
    @*     <CalendarIcon__Time spaceSeparatedAdditionalCSS_Classes="TasksGroupsTreeManager-List-Item-Icon" /> *@
    @*     <span class="TasksGroupsTreeManager-List-Item-Label">日付連想</span>  *@
    @*   </a> *@
    @* </li> *@
    
  </ul>
  
</div>


@code {

  [Parameter]
  public string? spaceSeparatedAdditionalCSS_Classes { get; set; }

}