<div 
  class="AttentionBox--YDF @rootElementModifierCSS_Classes" 
  role="alert"
></div>
 

@code {
  
  [Parameter]
  public string Theme { get; set; }

  [Parameter]
  public bool ExternalThemes { get; set; }
  
  [Parameter]
  public bool Geometry { get; set; }
  
  [Parameter]
  public bool Decoration { get; set; }
  
  [Parameter]
  public bool HasPrependedSVG_Icon { get; set; }
  
  [Parameter]
  public bool HasDismissingButton { get; set; }
  
  
  public struct StandardThemes
  {
    public const string regular = "REGULAR";
  }
  
  public struct StandardGeometricVariations
  {
    public const string regular = "REGULAR";
  }

  public struct StandardDecorativeVariations
  {
    public const string importantInfo = "IMPORTANT_INFO";
    public const string secondaryInfo = "SECONDARY_INFO";
    public const string notice = "NOTICE";
    public const string error = "ERROR";
    public const string warning = "WARNING";
    public const string success = "SUCCESS";
    public const string guidance = "GUIDANCE";
    public const string question = "QUESTION";
  }


  private string rootElementModifierCSS_Classes
  {
    get
    {

      // List<string> _rootElementModifierCSS_Classes = new List<string>();
      
      // TODO is themes > 1
      
      // _rootElementModifierCSS_Classes.Add($"{Theme}");

      return "";

    }
  }

}