include ../node_modules/@yamato-daiwa/frontend/Components.pug

include SharedReusable/Cards/Task/TaskCard.pug

include SharedReusable/Editors/Task/TaskEditor.pug

include SharedReusable/NavigationMenu/NavigationMenu.pug
include SharedReusable/Managers/Tacks/TasksManager.pug
include SharedReusable/Managers/TasksGroupsTree/TasksGroupsTreeManager.pug

include SharedSingletons/Header/Header.pug
