@switch (type)
{

  case Types.variableWidthArcSpinner:
  {

    <div class="LoadingIndicator--YDF LoadingIndicator--YDF__VariableWidthArcSpinnerType @rootElementModifierCSS_Classes">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    break;

  }

  case Types.twoConstantWidthArcsSpinner:
  {

    <div class="LoadingIndicator--YDF LoadingIndicator--YDF__TwoConstantWidthArcsSpinnerType @rootElementModifierCSS_Classes"></div>

    break;
    
  }
    
}  
