.TasksManager

  overflow-y auto


  &-CardsFlow

    display grid
    grid-template-columns repeat(auto-fill, minmax(NARROWEST_SCREEN_WIDTH_UNIT, 1fr))
    column-gap 12px
    row-gap 12px
    align-content start


  &-AttentionBox

    centerHorizontallyWithoutWrapper({ 
      targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.block,
      maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT,
      horizontalSpaceBetweenSelfAndParent: 20px 
    })

    margin-top 24px
    margin-bottom 36px