<span class="Badge--YDF @rootElementModifierCSS_Classes @spaceSeparatedAdditionalCSS_Classes">
  
  @if (PrependedSVG_Icon is not null)
  {
    @PrependedSVG_Icon
  }
  
  @if (!String.IsNullOrEmpty(key))
  {
    <span class="Badge--YDF-Key">@key</span>  
  }
  
  <span class="Badge--YDF-Value">@value</span>
  
</span>