<div class="PersonCard PersonCard__LoadingPlaceholder">
  <div class="PersonCard-Metadata">
    @foreach (uint unused in new uint[4])
    {
      <div class="PersonCard-Metadata-Key PersonCard-Metadata-Key__LoadingPlaceholder"></div>
      <div class="PersonCard-Metadata-Value PersonCard-Metadata-Value__LoadingPlaceholder"></div>      
    }
  </div>
</div>