mixin PersonCardLoadingPlaceholder

  .PersonCard.PersonCard__LoadingPlaceholder&attributes(attributes)

    .PersonCard-Metadata
      
      each rowNumber in Array.from(new Array(4).keys())

        .PersonCard-Metadata-Key.PersonCard-Metadata-Key__LoadingPlaceholder
        .PersonCard-Metadata-Value.PersonCard-Metadata-Value__LoadingPlaceholder
