@using Client.Services

@using Client.SharedComponents.NavigationMenu
@using Client.SharedComponents.OnePerPage.Header

@using FrontEndFramework.Components.Controls.Buttons.Closing

@inherits LayoutComponentBase


<div class="MainLayout">
  
  <div class="MainLayout-UpperFixedContentSlot">
    <Header hamburgerMenuButtonAdditionalCSS_Class="MainLayout-HamburgerMenuButton" />
  </div>
  
  <div class="MainLayout-Sidebar">
    <NavigationMenu />
  </div>
  
  <main class="MainLayout-SpecificContent">
    @Body
  </main>
  
  @if (DrawerMenuService.isDrawerDisplaying)
  {
    <div class="MainLayout-DrawerOverlay">
      <div class="MainLayout-Drawer">
        <NavigationMenu /> 
        <ClosingButton
          rootElementModifierCSS_Class="MainLayout-ClosingDrawerButton"
          onClick=@onClickDrawerClosingButton 
        />
      </div>
    </div> 
  }
  
</div>