extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block Requirements
  
  -
    
    class MainLayout {
      
      static mustDisplayDrawer = false;
      
      static displayDrawer() {
        MainLayout.mustDisplayDrawer = true;
        return MainLayout;
      }
      
    }
  

block append PageContent

  .MainLayout

    .MainLayout-UpperFixedContentSlot

      +Header({ hamburgerMenuButtonAdditionalCSS_Class: "MainLayout-HamburgerMenuButton" })

      block UpperFixedContentSlot

        
    .MainLayout-Sidebar

      +NavigationMenu

      
    main.MainLayout-SpecificContent

      block SpecificContent


    if MainLayout.mustDisplayDrawer

      .MainLayout-DrawerOverlay
        
        .MainLayout-Drawer
          +NavigationMenu

        +ClosingButton--YDF.MainLayout-ClosingDrawerButton
