.TasksManager

  display flex
  flex-direction column
  row-gap 6px


  &-AttentionBox

    margin-top auto
    margin-bottom auto


    &-Button

      centerHorizontallyWithoutWrapper({  targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.inlineBlock })
      margin-top 8px
