mixin TasksManager(statesSimulations)

  - statesSimulations = statesSimulations ?? {}

  .TasksManager&attributes(attributes)

    if statesSimulations.loading

      .TasksManager-CardsFlow

        each cardNumber in Array.from(new Array(12).keys())

          +TaskCardLoadingPlaceholder

    else if statesSimulations.error

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.error,
        hasPrependedSVG_Icon: true
      }).TasksManager-AttentionBox

        p 情報取得中不具合が発生しました。

        +Button--YDF({
          label: "再試験"
        }).AttentionBox--YDF-CenteredButton
      
    else if statesSimulations.noItems

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }).TasksManager-AttentionBox

        p 現在、課題が一件も登録させていません。

        +Button--YDF({
          label: "早速追加しましょう！",
          decoration: Button__YDF.DecorativeVariations.accented
        }).AttentionBox--YDF-CenteredButton

    else if statesSimulations.noSearchResults

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }).TasksManager-AttentionBox

        p 検索結果と合っている件はありません。

        +Button--YDF({
          label: "検索条件をリセット",
        }).AttentionBox--YDF-CenteredButton

    else

      ul.TasksManager-CardsFlow

        each task in DummyData.Tasks

          +TaskCard({
            task,
            rootElementTag: "li"
          })
