@using Task = CommonSolution.Entities.Task.Task

@using FrontEndFramework.Components.AttentionBox;
@using FrontEndFramework.Components.Controls.Buttons.Plain;
@using Client.SharedStateManagers


<div class="TasksManager @spaceSeparatedAdditionalCSS_Classes">
  
  @if (TasksSharedStateManager.isTasksRetrievingInProgressOrNotStartedYet)
  {
    <div class="TasksManager-CardsFlow">
      @for (uint cardNumber = 0; cardNumber < 12; cardNumber++)
      {
        <TaskCardLoadingPlaceholder />  
      }
    </div>  
  }
  
  else if (TasksSharedStateManager.isTasksSelectionRetrievingErrorOccurred)
  {
    <AttentionBox
      spaceSeparatedAdditionalCSS_Classes="TasksManager-AttentionBox"
      decoration=@AttentionBox.StandardDecorativeVariations.error
      hasPrependedSVG_Icon
    >

      <p>情報取得中不具合が発生しました。</p>
      
      <Button
        label="再試験"
        spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-CenteredButton"
        onClick=@(TasksSharedStateManager.retrieveTasks)
      />
      
    </AttentionBox>
  }

  else
  {
    <ul class="TasksManager-CardsFlow">
      @foreach (Task task in TasksSharedStateManager.tasks)
      {
        <TaskCard 
          TargetTask=@task
          RootElementTag="li"
          onClick="onSelectTask"
        />
      }
    </ul>
  }
  
</div>