<div class="TasksManager @SpaceSeparatedAdditionalCSS_Classes">
  
  @if (isTasksRetrievingInProgressOrNotStartedYet)
  {
    <div class="TasksManager-List">
      @for (uint cardNumber = 0; cardNumber < 12; cardNumber++)
      {
        <TaskCardLoadingPlaceholder />  
      }
    </div>  
  }
  
</div>


@code {

  [Parameter]
  public string SpaceSeparatedAdditionalCSS_Classes { get; set; }


  private List<BusinessRules.Enterprise.Tasks.Task> _tasks = new(); 
  
  private bool _isWaitingForTasksSelectionRetrieving = true;
  private bool _isTasksSelectionBeingRetrievedNow = false;
  private bool _isTasksSelectionRetrievingErrorOccurred = false;
  
  
  private bool isTasksRetrievingInProgressOrNotStartedYet => 
      _isWaitingForTasksSelectionRetrieving || _isTasksSelectionBeingRetrievedNow;
  
  protected override async System.Threading.Tasks.Task OnInitializedAsync()
  {

    _isTasksSelectionBeingRetrievedNow = true;
    _isWaitingForTasksSelectionRetrieving = false;
    _isTasksSelectionRetrievingErrorOccurred = false;
    
    try
    {
      _tasks = (await ClientDependencies.Injector.gateways().Task.RetrieveAll()).ToList();
    }
    catch (Exception e)
    {
      Console.WriteLine(e);
      _isTasksSelectionRetrievingErrorOccurred = true;
    }

    _isTasksSelectionBeingRetrievedNow = false;
    
  }

}