@using Task = CommonSolution.Entities.Task.Task


<div class="TasksManager @SpaceSeparatedAdditionalCSS_Classes">
  
  @if (isTasksRetrievingInProgressOrNotStartedYet)
  {
    <div class="TasksManager-CardsFlow">
      @for (uint cardNumber = 0; cardNumber < 12; cardNumber++)
      {
        <TaskCardLoadingPlaceholder />  
      }
    </div>  
  }
  
  else if (_isTasksSelectionRetrievingErrorOccurred)
  {
    <div>エラー</div>  
  }

  else
  {
    <ul class="TasksManager-CardsFlow">
      @foreach (Task task in _tasks)
      {
        <TaskCard 
          TargetTask=@task
          RootElementTag="li"
        />
      }
    </ul>
  }
  
</div>