.PersonCard

  border-radius 4px
  padding 12px 8px

  background white
  box-shadow 0 0 3px 1px alpha(black, 0.25)
  outline none


  &:hover

    box-shadow: 0 0 5px 2px YDF_ColorPalette.skyBlue.bright
    transition box-shadow 0.75s


  &:focus

    box-shadow: 0 0 5px 2px YDF_ColorPalette.skyBlue.light
    transition none


  &:active

    box-shadow: 0 0 5px 2px YDF_ColorPalette.skyBlue.mediumDark
    transition none
    

  &__LoadingPlaceholder

    pointer-events none


  &-Metadata

    display grid
    grid-template-columns minmax(60px, auto) minmax(0, 1fr)
    gap 12px


    &-Key

      text-align right

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]

      addLoadingPlaceholderModifierClass({
        height: 14px,
        width: 80px,
        borderRadius: 4px
      })


    &-Value

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 14px,
        lineSpacing: 4px,
        mustAllowWordBreakingAnywhere: true
      })

      color: ShadesOfGray__39ColorsW3C_Palette[16]

      addLoadingPlaceholderModifierClass({
        height: 14px,
        borderRadius: 4px
      })
      