.TaskManager

  &-Heading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 24px,
      lineSpacing: 4px
    })


  &-Guidance

    margin-top 12px


  &-ActionBar

    display flex
    flex-direction row-reverse
    column-gap 8px

    retireFrom({ definitions: (".TaskManager-Heading" { y: 8px }) (".TaskManager-Guidance" { y: 6px }) })


  &-Metadata

    display grid
    grid-template-columns auto minmax(0, 1fr)
    gap 12px 8px

    margin-top 12px


    dt

      text-align right
      font-weight bold
      

    dd

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 14px,
        lineSpacing: 4px,
        mustAllowWordsBreakingAnywhere: true
      })


  &-Form

    margin-top 12px


  &-Control

    retireFromElementWithSameSelector({ y: 8px })
    pushTargetFromSelf({ targetElementSelector: ".TaskManager-ActionBar", y: 8px })
