extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  -
    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "実験様アプリ　静的プレビュー";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLink({
    label: "日読み",
    URI: "@Pages/Calendar/CalendarPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
  
  +PageLinksGroup({
    title: "課題管理",
    linksData: [
      { label: "通常表示", URI: "@Pages/Task/Management/TasksManagementPage" },
      { label: "ロード中表示", URI: "@Pages/Task/Management/TasksManagementPage__Loading" },
      { label: "エラー発生表示", URI: "@Pages/Task/Management/TasksManagementPage__Error" },
      { label: "件が無い表示", URI: "@Pages/Task/Management/TasksManagementPage__NoItems" },
      { label: "検索結果無い表示", URI: "@Pages/Task/Management/TasksManagementPage__NoSearchResults" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLinksGroup({
    title: "人管理",
    linksData: [
      { label: "通常表示", URI: "@Pages/Person/Management/PeopleManagementPage" },
      { label: "ロード中表示", URI: "@Pages/Person/Management/PeopleManagementPage__Loading" },
      { label: "エラー発生表示", URI: "@Pages/Person/Management/PeopleManagementPage__Error" },
      { label: "件が無い表示", URI: "@Pages/Person/Management/PeopleManagementPage__NoItems" },
      { label: "検索結果無い表示", URI: "@Pages/Person/Management/PeopleManagementPage__NoSearchResults" },
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
