extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Experimental Application - Static Preview Anywhere Page",
      }
    });


block append TableOfContents

  h1.AnywherePage-TopHeading= RegularWebPageTemplate__YDF.metadata.title

  +PageLink({
    label: "Calendar",
    URI: "@Pages/Calendar/CalendarPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
  
  +PageLinksGroup({
    title: "Tasks Management",
    linksData: [
      { label: "Normal Displaying", URI: "@Pages/Task/Management/TasksManagementPage" },
      { label: "Loading Displaying", URI: "@Pages/Task/Management/TasksManagementPage__Loading" },
      { label: "Error Displaying", URI: "@Pages/Task/Management/TasksManagementPage__Error" },
      { label: "No Items Displaying", URI: "@Pages/Task/Management/TasksManagementPage__NoItems" },
      { label: "No Search Results Displaying", URI: "@Pages/Task/Management/TasksManagementPage__NoSearchResults" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLinksGroup({
    title: "People (Contacts) Management",
    linksData: [
      { label: "Normal Displaying", URI: "@Pages/Person/Management/PeopleManagementPage" },
      { label: "Loading Displaying", URI: "@Pages/Person/Management/PeopleManagementPage__Loading" },
      { label: "Error Displaying", URI: "@Pages/Person/Management/PeopleManagementPage__Error" },
      { label: "No Items Displaying", URI: "@Pages/Person/Management/PeopleManagementPage__NoItems" },
      { label: "No Search Results Displaying", URI: "@Pages/Person/Management/PeopleManagementPage__NoSearchResults" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
