@using FrontEndFramework.SVG_Icons.ExclamationMark;
@using FrontEndFramework.SVG_Icons.MultiplicationSign;
@using FrontEndFramework.SVG_Icons.InfoSign;


<div
  class="AttentionBox--YDF @rootElementModifierCSS_Classes @spaceSeparatedAdditionalCSS_Classes"
  role="alert"
>

  @* TODO 【次のプールリクエスト】 適切なアイコンを表示 https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/24 *@
  @if (_decoration == StandardDecorativeVariations.guidance.ToString())
  {
    <InfoSignIcon__Circled__Filled spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-SVG_Icon"/>
  }
  
  <div class="AttentionBox--YDF-MainSection">
    @ChildContent
  </div>
 
  @* TODO 【次のプールリクエスト】 SlideUp アニメーション https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/26 *@
  @if (hasDismissingButton)
  {
    <button
      class="AttentionBox--YDF-DismissingButton"
      type="button"
      aria-label="Hide this message"
      @onclick="onClickDismissingButton"
    >
      <MultiplicationSignIcon__Boxed__Filled spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-DismissingButton-Icon" />
    </button>  
  }
  
</div>
