@using FrontEndFramework.SVG_Icons.MultiplicationSign;


<div
  class="AttentionBox--YDF @rootElementModifierCSS_Classes @spaceSeparatedAdditionalCSS_Classes"
  role="alert"
>
 
  @* TODO 適切なアイコンを表示 https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/24 *@
  @* @switch (Decoration) *@
  @* { *@
  @*   case AttentionBox.StandardDecorativeVariations.error: *@
  @*     <div class="AttentionBox--YDF-SVG_Icon"></div> *@
  @*     break; *@
  @* *@
  @* } *@
  
  <div class="AttentionBox--YDF-MainSection">
    @ChildContent
  </div>
 
  @* TODO SlideUp アニメーション https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/26 *@
  <button
    class="AttentionBox--YDF-DismissingButton"
    type="button"
    @onclick="OnClickDismissingButton"
  >
    <MultiplicationSignIcon__Boxed__Filled spaceSeparatedAdditionalCSS_Classes="AttentionBox--YDF-DismissingButton-Icon" />
  </button>
  
</div>
