@using FrontEndFramework.SVG_Icons.MultiplicationSign;


<button 
  class="ClosingButton @spaceSeparatedAdditionalCSS_Classes"
  type="button"
  @onclick=@onClick
>
  <MultiplicationSignIcon__Boxed__Filled spaceSeparatedAdditionalCSS_Classes="ClosingButton--YDF-Icon" />
  <span class="ClosingButton--YDF-Label">Close</span>  
</button>


