
<div class="card" aria-hidden="true">
  
  <div class="card-body">
    
    <h4 class="card-title placeholder-wave">
      <span class="placeholder col-6 rounded rounded"></span>
    </h4>
    
    <dl class="row placeholder-glow">
    
      <dt class="col-sm-3"><i class="bi bi-envelope"></i> Email</dt>
      <dd class="placeholder col-sm-9 rounded"></dd>
    
      <dt class="col-sm-3"><i class="bi bi-telephone"></i> Phone</dt>
      <dd class="placeholder col-sm-9 rounded"></dd>
    
      <dt class="col-sm-3"><i class="bi bi-person"></i> Age</dt>
      <dd class="placeholder col-sm-9 rounded"></dd>
    
    </dl>
    
  </div>
  
</div>